.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.particle {
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    animation: floatUp linear infinite;
    /* Efek Glow Kuat */
    box-shadow: 0 0 12px 2px rgba(255, 140, 66, 0.8);
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg) translateX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
        /* Langsung terang */
    }

    50% {
        transform: translateY(-50vh) rotate(180deg) translateX(20px);
    }

    90% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-120vh) rotate(360deg) translateX(-20px);
        opacity: 0;
    }
}